/* .order-tab .accordion-button {
    padding: 1rem;
}

.order-tab .accordion-button:not(.collapsed) {
    background-color: #f8f9fa;
}

.order-tab .badge {
    font-size: 0.875rem;
    padding: 0.5em 0.75em;
}

.order-tab .table {
    margin-bottom: 0;
}

.order-tab .accordion-button::after {
    margin-left: 1rem;
}

.order-tab .accordion-body {
    background-color: #fff;
}

.status-badge {
    min-width: 100px;
    text-align: center;
}

.order-tab .table th {
    background-color: #f8f9fa;
}

.order-tab .accordion-item {
    margin-bottom: 1rem;
    border-radius: 0.375rem;
    overflow: hidden;
} */

.order-tab .accordion-button:not(.collapsed) {
    background-color: #f8f9fa;
    color: inherit;
    box-shadow: none;
}

.order-tab .accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}

.order-tab .badge {
    font-size: 0.875rem;
    padding: 0.5em 0.75em;
   
}

.order-tab .accordion-item {
    margin-bottom: 1rem;
 
    
}

.order-tab table {
    margin-bottom: 0;
}

.order-tab .table th {
    background-color: #f8f9fa;
}